[[source]]
name = "pypi"
#url = "https://pypi.org/simple"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
pygame = "*"
tornado = "*"
aliyun-log-python-sdk = "*"
aliyun-python-sdk-core-v3 = "*"
aliyun-python-sdk-iot = "*"
aliyunsdkcore = "*"
amqp = "*"
argon2-cffi = "*"
asn1crypto = "*"
atomicwrites = "*"
attrs = "*"
bcrypt = "*"
beautifulsoup4 = "*"
billiard = "*"
bs4 = "*"
cbor2 = "*"
celery = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
crypto = "*"
cryptography = "*"
cycler = "*"
dateparser = "*"
dpath = "*"
elasticsearch = "*"
et-xmlfile = "*"
factory-boy = "*"
faker = "*"
freegames = "*"
idna = "*"
ipip-datx = "*"
itchat = "*"
jdcal = "*"
jinja2 = "*"
jmespath = "*"
jpush = "*"
json-spec = "*"
jsonschema = "*"
kiwisolver = "*"
kombu = "*"
lxml = "*"
markupsafe = "*"
marshmallow = "*"
matplotlib = "*"
more-itertools = "*"
msgpack-python = "*"
mysql-connector = "*"
mysqlclient = "*"
numpy = "*"
openpyxl = "*"
passlib = "*"
pep8 = "*"
pillow = "*"
pip-autoremove = "*"
pipenv = "*"
pluggy = "*"
protobuf = "*"
py = "*"
pycparser = "*"
pycrypto = "*"
pycryptodome = "*"
pycurl = "*"
pydes = "*"
pymysql = "*"
pyopenssl = "*"
pyparsing = "*"
pypinyin = "*"
pypng = "*"
pyqrcode = "*"
pyqt5 = "*"
pyqt5-sip = "*"
pytest = "*"
pytest-catchlog = "*"
python-dateutil = "*"
python-rapidjson = "*"
pytz = "*"
pyyaml = "*"
qiniu = "*"
rabbitmq = "*"
raven = "*"
redis = "*"
regex = "*"
requests = "*"
retrying = "*"
shellescape = "*"
simpleeval = "*"
six = "*"
sqlalchemy = "*"
swagger-py-codegen = "*"
swagger-spec-validator = "*"
text-unidecode = "*"
tzlocal = "*"
urllib3 = "*"
vine = "*"
virtualenv = "*"
virtualenv-clone = "*"
webargs = "*"
werkzeug = "*"
wordcloud = "*"
wtfpython = "*"
xlrd = "*"
xlwt = "*"
yosai = "*"
Naked = "*"
PyPubSub = "*"

[requires]
python_version = "3.7"
